.video-led {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .video-led {
        height: 300px;
        width: 435px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px) {
    .video-led {
        width: 100%;
        height: 260px;
        object-fit: cover;
    }
    #video_led {
        width: 367px;
        height: 100%;
    }
}
