@media screen and (max-width: 385px) {
  .cancha_position {
    width: 490px !important;
    height: 140px !important;
    margin-right: -25px !important;
  }
  .estadisticas_mobile {
    width: 110% !important;
    height: 200px !important;
  }
}